<div onload="loadEmployeeList()">
    <section style="display: flex;" class="page-section" id="contact">
        <div class="flexerDetail">
            <div class="detail">
                <label>Name</label>
                <input type="text" name="Full Name here">
            </div>
            <div class="detail">
                <label>Position</label>
                <input type="text" name="Full Name here">
            </div>
            <div>
                <button onclick="AddEmployee()">Add Employee</button>
            </div>
        </div>
        <div class="">
            <div>
                <ul id="list">List of Employees</ul>
            </div>

        </div>
    </section>

</div>
